<div class="container">     
    <div class="form-container">
        
        <div [class.finished]="finished" >
            <h3> {{ "NEW_USER" | i18n }} </h3>
            <form #addUser = ngForm>
                <div class="form-group" [class.error]="(!name.valid && finished) || (!name.valid && name.dirty)">
                    <!--<label for="name">{{ "NAME" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="text" class="form-input" id="name"
                            required
                            [(ngModel)]="newUser.name" 
                            name="name"
                            #name="ngModel" 
                            placeholder="{{ 'NAME' | i18n }}">
                        <div class="valid-tick" *ngIf="name.valid"><i class="material-icons">done</i></div>
                    </div>
                    <div [hidden]="name.valid ||  !finished" class="error-message">
                    {{ "REQUIRED" | i18n }}
                    </div>
                </div>
                <div class="form-group" [class.error]="(!email.valid && finished) || (!email.valid && email.dirty)">
                    <!--<label for="email">{{ "EMAIL" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="email" class="form-input"  id="email"
                            required
                            name="email"
                            #email = "ngModel"
                            [(ngModel)]="newUser.email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            placeholder="{{ 'EMAIL' | i18n }}"
                            
                        >
                        <div class="valid-tick" *ngIf="email.valid"><i class="material-icons">done</i></div>
                    </div>
                    <div [hidden]="email.value || email.valid ||  !finished" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>
                    <div *ngIf="email.value && !email.valid && email.dirty" class="error-message">
                       {{ "WRONG_FORMAT" | i18n }}
                    </div>
                </div>

                <div class="form-group" [class.error]="(!password.valid && finished) || (!password.valid && password.dirty)">
                    <!--<label for="password">{{ "PASSWORD" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="password" class="form-input"  id="password"
                            name="password"
                            required
                            [(ngModel)]="newUser.password" 
                            #password = "ngModel"
                            placeholder="{{ 'PASSWORD' | i18n }}"
                        >
                        <div class="valid-tick" *ngIf="password.valid"><i class="material-icons">done</i></div>
                    </div>
                    <div [hidden]="password.valid || !finished" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>
                </div>


                <div class="form-group" [class.error]="passwordsNotEqual || (!password2.value && finished )">
                    <!--<label for="password">{{ "REPEAT_PASSWORD" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="password" class="form-input"  id="password2"
                            name="password2"
                            required
                            #password2
                            (blur)="arePasswordsEqual($event.target.value)"
                            placeholder="{{ 'REPEAT_PASSWORD' | i18n }}"
                        >
                        <div class="valid-tick" *ngIf="passwordsEqual"><i class="material-icons">done</i></div>
                    </div>
                    <div class="error-message" *ngIf="passwordsNotEqual" >
                        {{ "PASS_NOT_EQUAL" | i18n }}
                    </div>
                     <div [hidden]="password2.value ||  !finished" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div> 
                </div>
            
                <div class="form-group" [class.error]="(!firstname.valid && finished) || (!firstname.valid && firstname.dirty)">
                    <!--<label for="firstname">{{ "FIRSTNAME" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="text" class="form-input" id="firstnamename"
                            name="firstname"
                            required
                            [(ngModel)]="newUser.firstname" 
                            #firstname = "ngModel"
                            placeholder="{{ 'FIRSTNAME' | i18n }}"
                        >
                        <div class="valid-tick" *ngIf="firstname.valid"><i class="material-icons">done</i></div>    
                    </div>
                    <div [hidden]="firstname.valid ||  !finished" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>        
                </div>

                <div class="form-group" [class.error]="(!lastname.valid && finished) || (!lastname.valid && lastname.dirty)">
                    <!--<label for="lastname">{{ "LASTNAME" | i18n }}</label>-->
                    <div class="input-wrap">
                        <input type="text" class="form-input" id="lastname"
                            name="lastname"
                            required
                            #lastname = "ngModel"
                            [(ngModel)]="newUser.lastname" 
                            placeholder="{{ 'LASTNAME' | i18n }}">
                        <div class="valid-tick" *ngIf="lastname.valid"><i class="material-icons">done</i></div>
                    </div>
                    <div [hidden]="lastname.valid || !finished" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>                 
                       
                </div>
                
                <button class="btn btn-color btn-form" type="submit" (click)="finished=true; onSubmit()" [disabled]="passwordsNotEqual">
                    Zapisz</button>
            </form>
        </div>
    </div>
</div>
