<div class="container">     
    <div class="form-container">
        <div [class.finished]="finished">
            <form (ngSubmit)="onSubmit()" #addUser = ngForm>
                <div class="form-group" [class.error]="(!name.valid && finished) || (!name.valid && name.dirty)">
                    <label for="name">{{ "NAME" | i18n }}</label>
                    <input type="text" class="form-control" id="name"
                        required
                        [(ngModel)]="newUser.name" 
                        name="name"
                        #name="ngModel" >
                    <div class="valid-tick" *ngIf="name.valid"><i class="material-icons">done</i></div>
                    <div [hidden]="name.valid || name.pristine" class="error-message">
                    {{ "REQUIRED" | i18n }}
                    </div>
                </div>
                <div class="form-group" [class.error]="(!email.valid && finished) || (!email.valid && email.dirty)">
                    <label for="email">{{ "EMAIL" | i18n }}</label>
                    <input type="email" class="form-control"  id="email"
                        required
                        name="email"
                        #email = "ngModel"
                        [(ngModel)]="newUser.email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        
                    >
                    <div class="valid-tick" *ngIf="email.valid"><i class="material-icons">done</i></div>
                    <div [hidden]="email.value || email.valid || email.pristine" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>
                    <div *ngIf="email.value && !email.valid && email.dirty" class="error-message">
                       {{ "WRONG_FORMAT" | i18n }}
                    </div>
                </div>

                <div class="form-group" [class.error]="(!password.valid && finished) || (!password.valid && password.dirty)">
                    <label for="password">{{ "PASSWORD" | i18n }}</label>
                    <input type="password" class="form-control"  id="password"
                        name="password"
                        required
                        [(ngModel)]="newUser.password" 
                        #password = "ngModel"
                    >
                    <div class="valid-tick" *ngIf="password.valid"><i class="material-icons">done</i></div>
                    <div [hidden]="password.valid || password.pristine" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>
                </div>


                <div class="form-group" [class.error]="passwordsNotEqual">
                    <label for="password">{{ "REPEAT_PASSWORD" | i18n }}</label>
                    <input type="password" class="form-control"  id="password2"
                        name="password2"
                        required
                        (blur)="arePasswordsEqual($event.target.value)"
                    >
                    <div class="valid-tick" *ngIf="passwordsEqual"><i class="material-icons">done</i></div>
                    <div class="error-message" *ngIf="passwordsNotEqual" >
                        {{ "PASS_NOT_EQUAL" | i18n }}
                    </div>
                </div>
            
                <div class="form-group" [class.error]="(!firstname.valid && finished) || (!firstname.valid && firstname.dirty)">
                    <label for="firstname">{{ "FIRSTNAME" | i18n }}</label>
                    <input type="text" class="form-control" id="firstnamename"
                        name="firstname"
                        required
                        [(ngModel)]="newUser.firstname" 
                        #firstname = "ngModel"
                    >
                    <div class="valid-tick" *ngIf="firstname.valid"><i class="material-icons">done</i></div>    
                    <div [hidden]="firstname.valid || firstname.pristine" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>        
                </div>

                <div class="form-group" [class.error]="(!lastname.valid && finished) || (!lastname.valid && lastname.dirty)">
                    <label for="lastname">{{ "LASTNAME" | i18n }}</label>
                    <input type="text" class="form-control" id="lastname"
                        name="lastname"
                        required
                        #lastname = "ngModel"
                        [(ngModel)]="newUser.lastname" >
                    <div class="valid-tick" *ngIf="lastname.valid"><i class="material-icons">done</i></div>
                    <div [hidden]="lastname.valid || lastname.pristine" class="error-message">
                        {{ "REQUIRED" | i18n }}
                    </div>                 
                        
                </div>
                
                <button class="btn" type="submit" (click)="finished=true" [disabled]="passwordsNotEqual">
                    Zapisz</button>
            </form>
        </div>
    </div>
</div>