<div class="container">     
    <div class="form-container">
        <h3> {{ "LOGIN" | i18n }} </h3>

        <form #login = ngForm>
        <div class="form-group"  [class.error]="(!name.valid && finished) || (!name.valid && name.dirty)">
            
             <div class="input-wrap">
                 <input  type="text" 
                    class="form-input" 
                    required
                    name="name" 
                    [(ngModel)]="data.name" 
                    id="name" 
                    #name="ngModel" 
                    placeholder="{{ 'NAME' | i18n }}"
                >
                <div class="valid-tick" *ngIf="name.valid"><i class="material-icons">done</i></div>
             </div>
            <div [hidden]="name.valid ||  !finished" class="error-message">
                {{ "REQUIRED" | i18n }}
            </div>
        </div>

      <div class="form-group"  [class.error]="(!password.valid && finished) || (!password.valid && password.dirty)">
           <div class="input-wrap">
                <input  type="password" 
                        class="form-input" 
                        required
                        name="password" 
                        [(ngModel)]="data.password" 
                        id="password" 
                        #password="ngModel" 
                        placeholder="{{ 'PASSWORD' | i18n }}"
                >
                <div class="valid-tick" *ngIf="password.valid"><i class="material-icons">done</i></div>
           </div>
            <div [hidden]="password.valid ||  !finished" class="error-message">
                {{ "REQUIRED" | i18n }}
            </div>
        </div>


        <div class="row text-xs-center">
            <button (click)="authenticate(); finished=true" class="btn btn-form">{{ "LOGIN" | i18n }} </button>
        </div>
        </form>
    </div>
</div>