// header and navigation

header {
  background-color: #F50057;;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

a{
  color: #fff;
}

nav{
  display: inline-block;
  margin: 0 20px;
}