<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext" rel="stylesheet">

<header>
  <div class="container">
    <nav>
      <a [routerLink]="['']">Home</a>
    </nav>
    <nav>
      <a [routerLink]="['users']">User List</a>
    </nav>
    <nav>
      <a [routerLink]="['user-add']">User Add</a>
    </nav>
    <nav>
      <a [routerLink]="['login']">{{ "LOGIN" | i18n }}</a>
    </nav>
  </div>
</header>


<main>
  <router-outlet></router-outlet>
</main>


<footer>
  Sticky footer
</footer>
